<div class="container">
    <h1>Formulário processado com sucesso!</h1>
    <p><strong>Nome:</strong> {{nome}}</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Endereço:</strong> {{endereco}}</p>

    <a href="/form">Voltar</a>
</div>