<div class="container">
    <h1>Formulário exercicio - Passo 7</h1>
    <div class="centro">
        <form action="/process-form" method="POST" class="formDados">
            <fieldset>
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" style="width: 15em" value="" placeholder="">
                    </div>
                    <div class="campo">
                        <label for="endereco">Endereço</label>
                        <input type="text" id="endereco" name="endereco" style="width: 15em" value="" placeholder="">
                    </div>
                </fieldset>
                <div class="campo">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" style="width: 31.5em" value="">
                </div>

                <button class="botao submit" type="submit" name="submit">Enviar</button>
            </fieldset>
        </form>
    </div>


</div>