<div class="container">
    <h1>Seja bem vindo <string class="params">{{nome}} {{sobrenome}}</strong>!</h1>
    <p><strong>firstName:</strong> {{nome}} </p>
    <p><strong>lastName:</strong> {{sobrenome}} </p>
</div>