<div class="container">
    <h1>Pontifícia Universidade Católica de Minas Gerais</h1>
    <h2>Desenvolvimento web Full Stack</h2>
    <p><strong>Disciplina:</strong> Programação web com Node.js</p>
    <p><strong>Professor:</strong> Samuel Martins</p>
    <p><strong>Aluno:</strong> Hugo Vinicius Reis Vaz</p>
    <p><strong>Matricula:</strong> 103412</p>
    <p><strong>Code-GIT:</strong> <a href="#">Código fonte exercicio</a></p>
</div>